* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.valide {
  background-color: #5be881;
}
.rejected {
  background-color: #ff0000;
}
.on-validation {
  background-color: #fdb64d;
}

/* Components */
.app-container {
  width: 100%;
  max-width: 1000px;
}

.app-user-status {
  min-width: 80px;
  padding: 2px 7px;
  border-radius: 3px;
  color: white;
}

.app-user-table {
  border-collapse: collapse;
}

.app-user-table-row {
  border-bottom: 1pt solid #e7e7e7;
}

.app-user-table-data {
  padding: 10px;
}

.app-user-table-delete-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.app-button {
  padding: 7px;
  width: 150px;
  background-color: #fdb64d;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px #eeeeee;
}

.app-modal-backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000000c0;
}

.app-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 2px 3px 2px #2e2e2e;
  border-radius: 5px;
}

.app-modal-title {
  font-size: 20px;
  font-weight: bold;
}

.app-text-input {
  border: 1px #979797 solid;
  padding: 5px;
  border-radius: 5px;
}

/* Atomic classes */
.app-relative {
  position: relative;
}

.app-flex {
  display: flex;
}

.app-space-between {
  justify-content: space-between;
}

.app-w-full {
  width: 100%;
}

.app-h-full {
  height: 100%;
}

.app-w-10 {
  width: 10%;
}

.app-w-30 {
  width: 30%;
}

.app-p-1 {
  padding: 10px;
}

.app-p-2 {
  padding: 20px;
}

.app-mt-1 {
  margin-top: 10px;
}

.app-mt-2 {
  margin-top: 20px;
}

.app-shadow-md {
  box-shadow: 0px 2px 3px 2px #eeeeee;
}

.app-rounded-md {
  border-radius: 5px;
}

.app-text-left {
  text-align: left;
}

.app-text-right {
  text-align: right;
}

.app-text-center {
  text-align: center;
}

.app-inline-block {
  display: inline-block;
}

.app-centered {
  margin: 0 auto;
}

/* Animations */
.app-animation-slow-show {
  animation: app-animation-slow-show 1s ease forwards;
}

@keyframes app-animation-slow-show {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
